@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-el-tree-extend .el-tree-node>.el-tree-node__children {
  overflow: visible;
}

.tw-el-tree-extend .el-tree-node.is-expanded>.el-tree-node__children {
  display: flex;
  flex-direction: column;
}